/* exercice_facebook */
/* par Hadia Blidi */
/* Le 27-05-2020 */



.blockD{
    background-color: #686868;

}
.blockM{
    background-color: #1b1e21;



}
.blockG{
    background-color: #686868;


}
.block1{
    background-color: #05728b;

}
h1{
    color: white;
    font-size: 100px;
}